<aside>
  <% if (user) { %>
      <div class='user-options'>
        <p>Welcome back <strong><%= user.username %></strong></p>
        <p><strong><em><%= user.member === true ? 'Private Access Member' : '' %></em></strong></p>
        <div class='button-group'>
          <a href='<%= user.url %>'><button type='button'>Dashboard</button></a>
          <a href='/new_message'><button type='button'>Create Message</button></a>
          <% if (user.member !== true) { %>
            <a href='/join'><button type='button'>Join the Club!</button></a>
          <% } %>
        </div>
      </div>
  <% } else { %>
      <div class='login-options'>
        <p>Welcome to the <strong>MembersOnly</strong> message center!</p>
        <div class='button-group'>
          <a href='/login'><button type='button'>Login</button></a>
          <a href='/sign_up'><button type='button'>Sign Up</button></a>
        </div>
      </div>
  <% } %>
</aside>