<header>
  <a href='/'>
    <h1>MembersOnly</h1>
  </a>

  <% if (user) { %>
    <% if (user.isAdmin === true) { %>
      <h2>ADMINISTRATOR</h2>
    <% } %>
      <a href='/logout'><button type='button' id='logout-btn'>Logout</button></a>
  <% } %> 
</header>