<header>
  <a href='/'>
    <h1>MembersOnly</h1>
  </a>

  <% if (user) { %>
    <% if (user.is_admin === true) { %>
      <h2>ADMINISTRATOR</h2>
    <% } %>
    <% if (user || (typeof errors === 'undefined')) { %>
      <a href='/logout'><button type='button' id='logout-btn'>Logout</button></a>
    <% } %>
      
  <% } %> 
</header>