<%- include('./partials/head') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href='/login'><button type='button'>Login</button></a>
    <a href='/sign-up'><button type='button'>Sign Up</button></a>

<%- include('./partials/footer') %>