// Variables
@background-light: #fcf8e8;
@background-dark: #94b49f;
@accent: #ecb390;
@message-background: fade(#fcf8e8, 70%);
@login-background: fade(#fcf8e8, 50%);


// Global
* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f7f6e5;
  background: linear-gradient(90deg, #f7f6e5 0%, #cee5d0 48%, #f7f6e5 100%);
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  grid-template-columns: minmax(250px, 300px) minmax(500px, 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid @accent;
  margin: 0;
  padding: 0 40px;
  width: 100%;

  h1 {
    margin: 0;
    padding: 10px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  button {
    width: 150px;
    height: 40px;
    font-size: 14pt;
  }
}

aside {
  grid-column: 1;
  grid-row: 2 / span 3;
  padding: 10px 40px;
  border-right: 2px solid @accent;
}

section {
  grid-column: 2;
  grid-row: 2;
  padding: 10px 40px;
}

footer {
  grid-column: 1 / span 2;
}


button {
  background-color: @accent;
  border-radius: 5px;
  border: 1px solid @background-dark;
  box-shadow: 0 0 5px 1px @background-dark;
  cursor: pointer;
}

button:hover {
  background-color: @accent;
  box-shadow: 0 0 0 0px @background-light
}

button:active {
  transform: scale(0.9);
}


// Section secondary
.message-div {
  border: 2px solid @accent;
  box-shadow: 0 0 10px 0 @background-dark;
  border-radius: 8px;
  background-color: @message-background;
  max-width: 500px;
  margin: 50px auto;
  padding: 5px 20px;

  hr {
    margin-top: 0;
  }
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 100px;
    height: 30px;
  }
}

.message-body {
  padding: 0 0 10px 0;
}


.login {
  text-align: center;
  border: 1px solid @accent;
  border-radius: 8px;
  background-color: @login-background;
  padding: 25px;
  position: absolute;
  left: 40%;
  top: 20%;

  .form-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    label {
      text-align: right;
      margin: 5px 0;
    }

    input {
      margin: 5px 0;
    }
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    
    a {
      text-decoration: none;
      color: black;
      width: 45%;

      button {
        width: 100%;
      }
    }
  }
  
  .form-buttons button {
    height: 30px;
    width: 45%;
  }
}

.sign-up-div {
  .login();
}



// Message Delete
.message-delete {
  .login();
  padding-top: 10px;

  form {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 25px;
  }

  button {
    width: 120px;
    height: 30px;
  }
}

.message-delete-header {
  padding:0;
  text-align: left;
}

.message-delete-body {
  margin: 0 0 30px 0;
  text-align: left;
}


// Aside secondary
.login-options,
.user-options {
  text-align: center;

  p {
    margin-bottom: 10%;
  }

  button {
    width: 80%;
    height: 35px;
  }
}

.button-group {
  display: flex;
  flex-direction: column;

  button {
    margin: 10px 0;
  }
}